@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  .p {
    @apply text-secondary text-[24px] font-normal;
  }

  .h1 {
    @apply text-[32px] leading-9 xl:text-[65px] text-primary xl:leading-[72px] font-extrabold;
  }
  .h2 {
    @apply text-2xl xl:text-4xl text-primary font-bold;
  }
  .h3 {
    @apply text-2xl mb-4 font-extrabold;
  }

  .btn {
    @apply rounded-[16px] p-[16px] text-[26px] bg-primary w-full font-bold text-white tracking-[1px]  flex justify-center items-center transition-all duration-300;
  }

  .navEl {
    @apply text-[24px] font-bold text-secondary text-center leading-7;
  }
}
